name: CI

# Trigger the workflow on push or pull request, but only for the master branch
on:
  pull_request:
  push:
    branches: [master]

defaults:
  run:
    shell: bash

jobs:
  cabal:
    name: ${{ matrix.os }} / GHC ${{ matrix.ghc }} / ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - { cabal: "3.14", os: ubuntu-latest,  ghc: "9.2.8",  python-version: "3.12" }
          - { cabal: "3.14", os: ubuntu-latest,  ghc: "9.4.8",  python-version: "3.12" }
          - { cabal: "3.14", os: ubuntu-latest,  ghc: "9.6.6",  python-version: "3.12" }
          - { cabal: "3.14", os: ubuntu-latest,  ghc: "9.8.4",  python-version: "3.12" }
          - { cabal: "3.14", os: ubuntu-latest,  ghc: "9.10.2", python-version: "3.12" }
          - { cabal: "3.14", os: ubuntu-latest,  ghc: "9.12.2", python-version: "3.12" }
          # Scan over supported python versions
          - { cabal: "3.14", os: ubuntu-latest,  ghc: "9.10.2", python-version: "3.9"  }
          - { cabal: "3.14", os: ubuntu-latest,  ghc: "9.10.2", python-version: "3.10" }
          - { cabal: "3.14", os: ubuntu-latest,  ghc: "9.10.2", python-version: "3.11" }
          - { cabal: "3.14", os: ubuntu-latest,  ghc: "9.10.2", python-version: "3.12" }
          - { cabal: "3.14", os: ubuntu-latest,  ghc: "9.10.2", python-version: "3.13" }
          - { cabal: "3.14", os: ubuntu-latest,  ghc: "9.10.2", python-version: "3.14" }
      fail-fast: false
    steps:
    # ----------------
    - uses: actions/checkout@v4
    # ----------------
    - uses: haskell-actions/setup@v2
      id: setup-haskell-cabal
      name: Setup Haskell
      with:
        ghc-version: ${{ matrix.ghc }}
        cabal-version: ${{ matrix.cabal }}
    # ----------------
    - uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    # ----------------
    - uses: actions/cache@v3
      name: Cache ~/.cabal/store
      with:
        path: ${{ steps.setup-haskell-cabal.outputs.cabal-store }}
        key: ${{ runner.os }}-${{ matrix.ghc }}--
    # ----------------
    - name: Versions
      run: |
        cabal  -V
        ghc    -V
        python -V
        pkg-config python3-embed --cflags
        pkg-config python3-embed --libs
    # ----------------
    - name: Make sdist
      run: |
        mkdir sdist
        cabal sdist -o sdist
    - name: Unpack
      run: |
        mkdir unpacked
        tar -C unpacked -xzf sdist/inline-python*tar.gz
        cd unpacked
    # ----------------
    - name: cabal check
      run: |
        cabal -vnormal check
    # ----------------
    - name: Build
      run: |
        if [ "${{ matrix.skip-test  }}" == "" ]; then FLAG_TEST=--enable-test; fi
        if [ "${{ matrix.skip-bench }}" == "" ]; then FLAG_BENCH=--enable-benchmarks; fi
        cabal configure $FLAG_TEST $FLAG_BENCH
        cabal build all --write-ghc-environment-files=always
    # ----------------
    - name: Test
      run: |
        if [ "${{ matrix.skip-test }}" == "" ]; then timeout 3m cabal test all; fi
